* { margin: 0; padding: 0; outline: 0; }

body, html { height: 100%; }

body {
    font-size: 12px;
    line-height: 20px;
    font-family: arial, sans-serif;
    color: #806c6c;
}

a { color: #e10b0b; text-decoration: none; cursor: pointer; }
a:hover { text-decoration: underline; }
a img { border: 0; }

article, aside, details, footer, header, menu, nav, section { display: block; }
input, textarea, select { font-size: 12px; font-family: arial, sans-serif; }
textarea { overflow: auto; }

.cl { display: block; height: 0; font-size: 0; line-height: 0; text-indent: -4000px; clear: both; }
.notext { font-size: 0; line-height: 0; text-indent: -4000px; }
.left, .alignleft { float: left; display: inline; }
.right, .alignright { float: right; display: inline; }
h2 { font-size: 22px; font-weight: normal; color: #3c2323; }
h3 { font-size: 14px; }

.shell { width: 1000px; margin:auto; }
header { background: url(images/header.png) no-repeat center 0; height: 90px; border-top:#e43524 solid 5px; padding:15px 0 0 0; }
header .shell { position: relative; z-index: 40;}
#logo { width: 221px; position: absolute; top: 12px;  left: 0; font-size: 0; line-height: 0; }
#logo a { height: 59px; display: block; background: url(images/logo.png) no-repeat 0 0; text-indent: -4000px; }

/* contact */
.contact { float: right; padding-top: 19px; }
.contact p { float: left; padding-left: 24px; position: relative; font-size: 30px; color: #000; text-shadow: rgba(0,0,0,0.3) 1px 1px 1px; }
.contact p a { color: #fff; }
.contact p.phone-ico { padding-right: 27px; }
.contact p.ico span { background:url(images/phone.png) no-repeat 0 0; width: 38px; height: 46px; display: block; position: absolute; top: -10px; left: -25px; }
.contact p.phone-ico span { background-position: 0 bottom; } 
/* end of contact */

/* navigation */
#navigation { background:url(images/nav_bg.png) repeat-x; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; width:1000px; margin:auto; height: 48px; line-height: 50px; font-size: 14px; position: relative; z-index: 20;}
#navigation ul { list-style: none; list-style-position: outside; }
#navigation ul li { float: left; padding:0 57px 0 57px; border-left: solid #bebdbd 1px; height:17px; margin-top:16px; }
#navigation ul li.last { padding-right: 0; }
#navigation ul li a { color: #000000; position: relative; float: left; top:-16px; }
#navigation ul li a:hover { color: #e43524; text-decoration: none; text-shadow: rgba(255,255,255,0.4) 1px 1px 1px; }
#navigation ul li a span { background: url(images/bottom-arrow.png) no-repeat 0 0; position: absolute; bottom: -14px; left: 50%; margin-left: -9px; top:37px;  width: 18px; height: 19px; z-index: 10; display: none; }
#navigation ul li a:hover span,
#navigation ul li.active a span { display: block; }
/* end of navigation */

/* slider */
.slider-holder {  height: 350px; position: relative; z-index: 5; margin-top: -4px; }
.slider-holder .shell { padding-top: 20px; position: relative; height: 336px; }
.slider-holder .shell span.slider-shadow { background: url(images/slider-shadow.png) no-repeat 0 0; width:1000px; height: 45px; position: absolute; bottom: 0; left: -30px; }
.flexslider { border: 1px solid #645c52; height: 334px; width: 1000px; position: relative; margin: 0 auto; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; }
.flexslider ul.slides { list-style: none; list-style-position: outside;  position: relative; overflow: hidden; }
.flexslider ul.slides li { float: left; height: 334px; width: 887px; position: relative; }
.flexslider ul.slides li img { width: 1000px; height: 334px; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; }
.flexslider ul.slides li .slide-cnt { padding: 24px 20px 22px 23px; position: absolute; top: 0px; right: 0; width: 205px; background: url(images/slide-cnt.png) repeat 0 0; min-height: 299px;
border-radius: 0px 5px 6px 0; -moz-border-radius: 0px 5px 6px 0; -webkit-border-radius: 0px 5px 6px 0; -o-border-radius: 0px 5px 6px 0; }
.flexslider ul.slides li .slide-cnt h2 {  color: #ccc8bd; font-size: 23px; line-height: 30px; padding-bottom: 20px; }
.flexslider ul.slides li .slide-cnt p { color: #ccc8bd; font-size: 13px; padding-bottom: 42px; }
.flexslider ul.slides li .slide-cnt p a { font-size: 11px; }
.flexslider ul.slides li .slide-cnt a.slider-btn { width: 205px; height: 35px; padding: 0 0 0 0; background: url(images/slider-btn.png) repeat-x 0 0; display: block; text-align: center; position: relative; line-height: 35px;
font-size: 18px; font-weight: bold; color: #000; box-shadow: 0px 0px 5px rgba(0,0,0,0.3); -moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.3); -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.3); -o-box-shadow: 0px 0px 5px rgba(0,0,0,0.3); 
border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; text-shadow: rgba(255,255,255,0.1) 2px 2px 1px;}
.flexslider ul.slides li .slide-cnt a.slider-btn:hover { text-decoration: none; background-position: 0 bottom; }
/* end of slider */

/* services */
.services { background-color: #fff; padding-top: 26px; padding-bottom: 28px;  }
.services h2 { float: left; font-size: 22px; font-weight: normal; padding-bottom: 15px; padding-left: 3px; color: #3c2323; }
.services a.all-services { float: right; font-size: 14px; margin-right: 12px; }
.services .boxes { margin: 0 -11px 0 -3px; position: relative; width: 904px; }  
.services .box { width: 214px; float: left; position: relative; }
.services .box + .box { padding-left: 14px; }

.services .box a { float: left; background: #000 url(images/box.png) repeat-x 0 0; padding: 3px 3px 6px 3px;
 box-shadow: 3px 3px 3px rgba(0,0,0,0.1); -moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.1); -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.1); -o-box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
 border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; -o-border-radius: 4px; }
.services .box a img { width: 208px; height: 85px; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; -o-border-radius: 4px; }
.services .box h3 { text-align: center; font-size: 14px; }
.services .box a h3 { color: #fff;  }
.services .box a:hover { text-decoration: none; background-position: 0 bottom; background-color: #c91616;  }
/* end of services */

/* main */
.main {  padding-top: 32px; padding-bottom: 28px; }
.main p { padding-bottom: 20px; }

.content1{ width: 709px; float: left; }
.content1h2 { padding-bottom: 10px; }

aside { width: 273px; float: right; }
aside h2 { padding-bottom: 14px; }
aside .widget { padding-bottom: 28px;
background:#FFFFFF; width:273px;
min-height:300px;
border:#e3e3e3 solid 1px;
-moz-box-shadow: 0 0 5px #f1f1f1;
-webkit-box-shadow: 0 0 5px #f1f1f1;
box-shadow: 0 0 5px #f1f1f1;
 -moz-border-radius: 4px; /* Firefox */
  -webkit-border-radius: 4px; /* Safari and Chrome */
  border-radius: 4px; /* Opera 10.5+, future browsers, and now also Internet Explorer 6+ using IE-CSS3 */
 }
 .widget h2
 {
 background:url(images/right_section_img.png) no-repeat;
 height:36px;
 font-size:16px;
 padding:5px 0 0 15px;
}

.widget ul
{
margin:0px 0 0 10px;
width:251px;
padding:0px;
}
.widget ul li
{
list-style:none;
border-bottom:#E10B0B dashed 1px;
padding:8px 0 8px 0;
}
.widget ul li a
{
color:#212121;
}
.widget ul li a:hover
{
color:#E10B0B;
text-decoration:none;
}

.widget1 { padding-bottom: 28px;
background:#FFFFFF; width:273px;
min-height:100px;
border:#e3e3e3 solid 1px;
margin:10px 0 0 0;
-moz-box-shadow: 0 0 5px #f1f1f1;
-webkit-box-shadow: 0 0 5px #f1f1f1;
box-shadow: 0 0 5px #f1f1f1;
 -moz-border-radius: 4px; /* Firefox */
  -webkit-border-radius: 4px; /* Safari and Chrome */
  border-radius: 4px; /* Opera 10.5+, future browsers, and now also Internet Explorer 6+ using IE-CSS3 */
 }
 .widget1 h2
 {
 background:url(images/right_section_img.png) no-repeat;
 height:36px;
 font-size:16px;
 padding:5px 0 0 15px;
}
aside .img-holder { margin-top:10px; margin-right: 8px; margin-left:8px;  float: left;  
	}

/* end of main */

html, body { height: 100%; }
#wrapper { min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -49px; }
#footer, #footer-push { height: 49px; }
#footer { background:#FFFFFF; border-top:#e4e4e4 solid 2px; line-height: 47px; height: 49px; }
#footer .footer-nav { text-align:center;  font-size: 12px; color: #5f5f5f; height:32px; }
#footer .footer-nav a { color: #5f5f5f; margin-right: 29px; }
#footer .footer-nav a:hover,
#footer .footer-nav a.active { color: #d11212; text-decoration: none; }
#footer p.copy { float: right; color: #5f5f5f; font-size: 11px; }
#footer p.copy a { color: #717171; text-decoration: underline; }
#footer p.copy a:hover { text-decoration: none; }


#content
{
    background: #fff;
    padding: 2em;
	height: 220px;
	position: relative;
	z-index: 2;	-moz-box-shadow: 0 0 5px #d9d9d9;
-webkit-box-shadow: 0 0 5px #d9d9d9;
box-shadow: 0 0 5px #d9d9d9;
 -moz-border-radius: 4px; /* Firefox */
  -webkit-border-radius: 4px; /* Safari and Chrome */
  border-radius: 4px; /* Opera 10.5+, future browsers, and now also Internet Explorer 6+ using IE-CSS3 */
}
#tabs 
{
margin:0px;
padding:0px;
}
#tabs li
{
display:inline;
}
#tabs li
{
background:url(images/teb_img.png) no-repeat;
width:180px;
margin:0 0 0 5px;
height:42px;
text-align:center;
}
#tabs li .tab_b
{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
background:url(images/teb_img.png) no-repeat;
width:180px;
height:42px;
text-align:center;
padding: 13px 36px 13px 37px;
}

#tabs li a:hover
{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
background:#e33727;
width:180px;
height:42px;
color:#FFFFFF;
text-decoration:none;
text-align:center;
-moz-border-radius: 4px 4px 0  0; /* Firefox */
  -webkit-border-radius: 4px 4px 0  0; /* Safari and Chrome */
  border-radius: 4px 4px 0  0; /* Opera 10.5+, future browsers, and now also Internet Explorer 6+ using IE-CSS3 */
}

#tabs li a.act
{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
background:#e33727;
width:180px;
height:42px;
color:#FFFFFF;
text-decoration:none;
text-align:center;
-moz-border-radius: 4px 4px 0  0; /* Firefox */
  -webkit-border-radius: 4px 4px 0  0; /* Safari and Chrome */
  border-radius: 4px 4px 0  0; /* Opera 10.5+, future browsers, and now also Internet Explorer 6+ using IE-CSS3 */
}

#tabs li .tab_a
{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
background:url(images/teb_img.png) no-repeat;
width:180px;
height:42px;
text-align:center;
padding: 13px 25px 13px 25px;
}
#tabs li .tab_c
{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
background:url(images/teb_img.png) no-repeat;
width:180px;
height:42px;
text-align:center;
padding: 13px 40px 13px 39px;
}

#tabs a:hover,
#tabs a:hover::after,
#tabs a:focus,
#tabs a:focus::after
{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
background:#e33727;
width:180px;
height:42px;
color:#FFFFFF;
text-decoration:none;
text-align:center;
-moz-border-radius: 4px 4px 0  0; /* Firefox */
  -webkit-border-radius: 4px 4px 0  0; /* Safari and Chrome */
  border-radius: 4px 4px 0  0; /* Opera 10.5+, future browsers, and now also Internet Explorer 6+ using IE-CSS3 */
}

/*CSS for listing form*/

#listing_form
{
	padding:10px;
}

#listing_form > legend
{
    background: url("images/nav_bg.png");
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    padding: 3px 35px 3px 25px;
}

#listing_form div#content-table-inner th
{
	 text-align: right;
    width: 150px;
    padding: 5px;
}

#listing_form div#content-table-inner td
{
	padding :5px;
}


#listing_form div#content-table-inner td input 
{
	background-color: #FDFDFD;
    border: 1px solid #E7EAED;
    color: #333333;
    font-size: 14px;
    height: 22px;
    padding: 5px 0 0 2px;
    width: 250px;
}
#listing_form div#content-table-inner td textarea 
{
	height: 73px;
    width: 288px;
     background-color: #FDFDFD;
    border: 1px solid #E7EAED;
    font-size: 14px;
    padding-left: 2px;
   
}

#listing_form div#content-table-inner td input.submit-listing
{
	height: 30px;
    width: 100px;
    padding-bottom: 10px;
    background: url("images/nav_bg.png");
}

#listing_form div#content-table-inner td #captcha
{
	 width: 250px;
}




